.title{
    width: 100vw;
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.title h1{
    font-size: 35pt;
    letter-spacing: -2px;
}
.title figure{
    position: absolute;
    width: 500px;
    right: -350px;
    top: -2vh;
    z-index: -1;
    transform: scale(1.5) rotate(-30deg);
    opacity: 80%;
}