.title{
    width: 100vw;
    height: calc(150px + 10vh) ;
    align-items: center;
    justify-content: center;
    display: flex;

}
.title h1{
    font-size: 35pt;
    letter-spacing: -2px;
}
.title figure{
    position: absolute;
    width: 500px;
    right: -360px;
    top: -10vh;
    z-index: -1;
    transform: scale(1.5) rotate(-30deg);
    opacity: 80%;
}