@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'karla', sans-serif;
}
body{
    overflow-x: hidden;
}