@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'karla', sans-serif;
}
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #d2d2d2;
    border-radius: 5px;

}